*{
    margin: 0;
    padding: 0;
}

header{
    background-color: darkred;
    width: 100%;
    height: 60px;
}
footer{
    background: darkred;
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0px;
}
main{
    /* background-color: darkslategray; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
}
.Panel_left{
    background-color: rgb(206, 29, 29);
    position: fixed;
    width: 20%;
    height: 100%;
}
.listPanelLeft{
    display: flex;
    flex-direction: column;
}
.listPanelLeft li {
    padding: 20px;
    /* margin-top: 10px; */
    background-color: rgb(128, 19, 19);
    list-style: none;
    

    justify-content: center;
    justify-self: center;
    justify-items: center;
}
 /* Contenedor de Registro*/
.containerPrincipalRegister{
    margin-top: 20px;
    background-color: rgb(162, 224, 232);
    
    width: 600px;
    /* justify-content: center; */
    /* justify-self: center; */
    /* justify-items: center; */
}
 .containerRegistro{
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    /* justify-self: center; */
    
 }

 .containerRegistro label{
    width: 600px;
    padding-top: 10px;
 }
 .BtnRegistro{
    width: 40%;
    display: flex;
    justify-content: center;
    justify-self: center;
    justify-items: center;
 }
 h1{
    display: flex;
    justify-content: center;
    
    
 }