<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StoreOnline</title>
    <link rel="stylesheet" href="../css/Home.css">
</head>
<body>
    <header>
        <nav></nav>
    </header>

    <main>
        <div class="containerRegister">
            <form action="Post" method="">
                <label for="oneName">
                    <input type="text" id="oneName" name="oneName">
                </label>
                <label for="twoName">
                    <input type="text" id="twoName" name="twoName">
                </label>
                <label for="OneLastName">
                    <input type="text" id="OneLastName" name="OneLastName">
                </label>
                <label for="TwoLastName">
                    <input type="text" id="TwoLastName" name="TwoLastName">
                </label>
                
                <label for="Cedula">
                    <input type="text" id="Cedula" name="Cedula">
                </label>

                <label for="Email">
                    <input type="text" id="Email" name="Email">
                </label>

                <label for="UserName">
                    <input type="text" id="UserName" name="UserName">
                </label>
                <label for="Password">
                    <input type="text" id="Password" name="Password">
                </label>
                <button>Registrate</button>
            </form>
        </div>

    </main>
    <footer>

    </footer>
  

</body>
</html>